@import url("//fonts.googleapis.com/css?family=News+Cycle:400,700");
/*body {
  font-family: @font-family-serif;
}
*/
.navbar {
  font-size: 18px;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
}
.navbar-brand {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #f57a00;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border-color: #f57a00;
}
.has-error .help-block,
.has-error .control-label {
  color: #eb6864;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: #eb6864;
}
.has-success .help-block,
.has-success .control-label {
  color: #22b24c;
}
.has-success .form-control,
.has-success .form-control:focus {
  border-color: #22b24c;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  color: #000;
}
.panel-primary .panel-title,
.panel-success .panel-title,
.panel-warning .panel-title,
.panel-danger .panel-title,
.panel-info .panel-title {
  color: #fff;
}
a {
  color: #eb6864;
}
a:hover {
  color: #e22620;
}
h1 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  padding: 8px 0 20px 0;
  font-size: 30px;
}
header#grp-header {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}
header#grp-header #grp-navigation {
  background-color: #ffffff;
  background-image: none;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  border: 0;
}
header#grp-header #grp-navigation h1#grp-admin-title {
  font-size: 20px;
}
header#grp-header #grp-navigation a,
header#grp-header #grp-navigation a:hover {
  color: #000000;
}
header#grp-header #grp-navigation ul#grp-user-tools {
  border: 0;
}
header#grp-header #grp-navigation ul#grp-user-tools li {
  border: 0;
}
header#grp-header #grp-navigation ul#grp-user-tools li ul {
  margin-left: 7px;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #ffffff;
  font-weight: normal;
  color: #333333;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
header#grp-header #grp-navigation ul#grp-user-tools li ul li a {
  padding: 8px;
  vertical-align: middle;
}
header#grp-header #grp-navigation ul#grp-user-tools li ul li a:hover {
  background: #eb6864;
  color: #ffffff;
}
header#grp-header #grp-context-navigation {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.25);
  background-clip: padding-box;
}
header#grp-header #grp-context-navigation #grp-breadcrumbs ul {
  font-size: 14px;
}
header#grp-header #grp-context-navigation #grp-breadcrumbs ul a {
  padding-right: 0;
  background: none;
  color: #eb6864;
}
header#grp-header #grp-context-navigation #grp-breadcrumbs ul a:hover {
  color: #e22620;
  font-weight: 800;
}
header#grp-header #grp-context-navigation #grp-breadcrumbs ul a:after {
  margin-left: 10px;
  content: '>';
}
.grp-object-tools {
  top: -44px;
  right: 9px;
}
.grp-object-tools li {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.grp-object-tools li a {
  opacity: 1;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.grp-object-tools li a:hover {
  background: none;
  border: 1px solid transparent !important;
  background-color: #858585;
  border-color: #7a7a7a;
}
.grp-object-tools li:last-child {
  padding-right: 25px;
}
.sidebar {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  background: #ffffff;
  border: 0;
}
.sidebar ul {
  border-radius: 3px;
}
.sidebar ul li {
  border: 0;
  background: #ffffff;
  padding: 0;
  display: block;
  margin-top: 2px;
}
.sidebar ul li a {
  color: #eb6864;
  text-shadow: none;
  padding: 8px 12px;
  display: block;
  position: relative;
  border-radius: 4px;
  font-size: 16px;
}
.sidebar ul li a:hover {
  background: #eeeeee;
  color: #e22620;
}
.sidebar ul li a.opened {
  color: #e22620;
}
.sidebar ul li a.active {
  background: #eb6864;
  color: #ffffff;
}
.sidebar ul li ul {
  margin-top: 2px;
  margin-left: 18px;
}
.sidebar ul li ul li {
  padding: 0;
}
#grp-content-container {
  padding-top: 10px;
}
#grp-content-container .g-content-with-sidebar {
  margin-left: 5px;
}
.grp-module {
  border: 1px solid #eb6864;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-bottom: 10px;
  background: #ffffff;
}
.grp-module .grp-row,
.grp-module .grp-row:not(tr) {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}
.grp-module .grp-row a,
.grp-module .grp-row:not(tr) a {
  color: #777777;
  font-size: 12px;
}
.grp-module .grp-row a:hover,
.grp-module .grp-row:not(tr) a:hover {
  color: #eb6864;
  font-weight: 700;
}
.grp-module h2 {
  color: #ffffff;
  border-radius: 0;
  background-color: #eb6864;
  border-color: #eb6864;
  border-bottom: 1px solid transparent;
  background-image: none;
  text-shadow: none;
  font-size: 14px;
}
.grp-module h2 a {
  color: #ffffff;
}
.grp-collapse.grp-closed > h3.grp-collapse-handler {
  background-image: none;
  background: #eeeeee;
  text-shadow: none;
  color: #eb6864;
}
.grp-collapse.grp-closed > h3.grp-collapse-handler:hover {
  background-image: none;
  background-color: #eb6864;
  color: #ffffff;
}
.grp-collapse.grp-open > h3.grp-collapse-handler {
  background-image: none;
  background: #e22620;
  text-shadow: none;
  color: #ffffff;
}
.grp-module.pagination {
  border: 1px solid transparent;
}
.grp-module.pagination .grp-row {
  padding: 0;
}
.grp-module.pagination .grp-pagination {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.grp-module.pagination .grp-pagination ul li span,
.grp-module.pagination .grp-pagination ul li a {
  font-size: 12px;
  padding: 8px;
}
.grp-module.pagination .grp-pagination ul li a {
  color: #eb6864;
}
.grp-module.pagination .grp-pagination ul li a:hover {
  color: #e22620;
  background-color: #eeeeee;
  border-color: rgba(0, 0, 0, 0.15);
}
.grp-module.pagination .grp-pagination ul li span.this-page {
  background-image: none;
  color: #777777;
  background-color: #eeeeee;
}
.grp-module.pagination .grp-pagination ul li.grp-results span {
  background-image: none;
  background-color: #eeeeee;
  color: #777777;
}
.grp-changelist-results {
  border: 0;
  background-image: none !important;
  /* fuck grappelli and its important stuff! */
  background-color: transparent !important;
}
.grp-changelist-results table {
  padding-top: 12px;
  width: 100%;
  border: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}
.grp-changelist-results table td {
  border: 0;
}
.grp-changelist-results table tbody tr {
  border-bottom: 1px solid #777777;
}
.grp-changelist-results table tbody tr th,
.grp-changelist-results table tbody tr td {
  border: 0;
}
.grp-changelist-results table tbody tr td {
  font-size: 12px;
}
.grp-changelist-results table tbody tr th:hover {
  background-color: transparent;
}
.grp-changelist-results table tbody tr.grp-row-even th,
.grp-changelist-results table tbody tr.grp-row-even td {
  border: 0;
}
.grp-changelist-results table tbody tr.grp-row-even th,
.grp-changelist-results table tbody tr.grp-row-even td {
  background-color: #eeeeee;
}
.grp-changelist-results table tbody tr.grp-row-even th:hover {
  background-color: #eeeeee;
}
.grp-changelist-results table tbody tr.grp-selected {
  background-color: #777777;
}
.grp-changelist-results table tbody tr.grp-selected td,
.grp-changelist-results table tbody tr.grp-selected th {
  background-color: #777777;
  color: #ffffff;
}
.grp-changelist-results table tbody tr.grp-selected td a,
.grp-changelist-results table tbody tr.grp-selected th a {
  color: #ffffff;
}
.grp-changelist-results table tbody tr.grp-selected th:hover {
  background-color: #777777;
}
.grp-changelist-results table thead {
  border-bottom: 2px solid #777777;
}
.grp-changelist-results table th {
  background: transparent;
  padding-top: 8px;
  border: 0;
  font-size: 16px;
}
.grp-changelist-results table th a {
  font-size: 16px;
  color: #000000;
  padding-bottom: 10px;
}
.grp-changelist-results table th:hover {
  background-image: none !important;
  background-color: transparent;
  color: inherit;
}
.grp-changelist-results table.grp-sortable thead th.sortable .grp-sortoptions {
  top: 5px;
}
.grp-changelist-results table.grp-sortable thead th.sortable.sorted.ascending,
.grp-changelist-results table.grp-sortable thead th.sortable.sorted.descending {
  background-image: none;
}
.grp-changelist-results table.grp-sortable thead th.sortable.sorted.ascending .grp-text a,
.grp-changelist-results table.grp-sortable thead th.sortable.sorted.descending .grp-text a {
  font-weight: normal;
  color: #eb6864;
}
.grp-module.grp-collapse {
  border: 0;
}
table.grp-sortable thead th div.grp-text span,
table.grp-sortable thead th.sortable .grp-text a {
  padding: 10px;
}
.grp-pulldown-container .grp-pulldown-handler,
.grp-pulldown-container .grp-pulldown-handler:hover {
  background-image: none;
  background-color: #eeeeee;
}
.grp-pulldown-container .grp-pulldown-content,
.grp-pulldown-container .grp-pulldown-content:hover {
  padding: 6px;
  background: #ffffff;
}
.grp-pulldown-container.grp-pulldown-state-open .grp-pulldown-handler {
  color: #eb6864;
  background: #eeeeee;
}
.grp-pulldown-container.grp-pulldown-state-open .grp-pulldown-handler:hover {
  background-image: none;
  background-color: #eeeeee;
  color: #e22620;
}
.grp-autocomplete-wrapper-fk input.ui-autocomplete-input:focus {
  background-color: transparent;
}
.grp-autocomplete-wrapper-fk a.related-lookup {
  background-color: #eeeeee;
}
.grp-autocomplete-wrapper-fk a.related-lookup:hover {
  background-color: #eb6864;
}
footer.grp-module {
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background: #eeeeee;
}
.grp-submit-row.grp-fixed-footer ul li {
  background: none;
  margin-bottom: 5px;
  padding: 0 !important;
  /* FGIS */
}
.grp-submit-row.grp-fixed-footer ul li .grp-button {
  height: 36px;
  background-image: none;
  opacity: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 8px 12px;
  /* FGIS */
  font-size: 15px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #777777;
  border-color: #777777;
}
.grp-submit-row.grp-fixed-footer ul li .grp-button:hover {
  background-image: none;
}
.grp-submit-row.grp-fixed-footer ul li input.grp-button {
  background: #22b24c;
  border-color: #1b903d;
}
.grp-submit-row.grp-fixed-footer ul li input.grp-button.grp-default {
  background-color: #336699;
}
.grp-submit-row.grp-fixed-footer ul li input.grp-button.grp-default:hover {
  background-color: #29527a;
}
.grp-submit-row.grp-fixed-footer ul li input.grp-button:hover {
  background: #1b903d;
}
.grp-submit-row.grp-fixed-footer ul li a.grp-delete-link {
  background-color: #eb6864;
  border-color: #e22620;
}
.grp-submit-row.grp-fixed-footer ul li a.grp-delete-link:hover {
  background: #e22620;
  color: #ffffff;
}
.grp-group > h2 {
  background-image: none;
  background-color: #777777;
  color: #ffffff;
  text-shadow: none;
}
.grp-module.grp-submit-row.grp-fixed-footer {
  margin-bottom: 0;
}
.grp-object-tools li a[target="_blank"] {
  background-color: #999999;
  background-image: none;
  padding: 8px 12px;
}
.grp-object-tools li a[target="_blank"]:hover {
  background-image: none;
  background-color: #777777;
}
