*.log
*.pyc
*.pot
*~

# Project
deploy
*.db
*~
local_settings.py

*.py[co]
.Python

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.ropeproject/**

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# virtualenv
lib/**
include/**
src/**

# vim buffers
*.swo
*.swp
*.swn
*.swm

.idea
*.sh
