{% extends "grappelli:admin/change_list.html" %}

<!-- LOADING -->
{% load i18n grp_tags admin_urls admin_static admin_list %}

<!-- CONTENT -->
{% block content %}
    <div class="grp-module pagination filter">
        <div class="grp-row">
            <div class="l-2cr-fluid {% if cl.has_filters and cl.search_fields %}l-d-12{% else %}{% if cl.has_filters or cl.search_fields %}l-d-6{% endif %}{% endif %}">
                {% if cl.has_filters or cl.search_fields %}
                    {% block aside %}
                        <aside class="c-1">
                            <header style="display:none"><h1>{% if cl.search_fields %}Search{% if cl.has_filters %} &amp; {% endif %}{% endif %}{% if cl.has_filters %}Filters{% endif %}</h1></header>
                            <!-- SEARCH -->
                            {% if cl.search_fields %}
                                {% block search %}
                                    <div id="search" class="g-d-6 g-d-f">
                                        {% search_form cl %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                            <!-- FILTERS -->
                            {% if cl.has_filters %}
                                {% block filters %}
                                    <div id="grp-filters" class="g-d-6 g-d-l">
                                        <div class="grp-filter">
                                            <div class="grp-pulldown-container">
                                                <a href="javascript://" class="grp-button grp-pulldown-handler">{% trans 'Filter' %}</a>
                                                <div class="grp-pulldown-content" style="display: none;">
                                                    {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}
                            {% endif %}
                        </aside>
                    {% endblock %}
                {% endif %}
                {% block pagination_top %}
                    <div class="c-2">
                        <!-- PAGINATION TOP -->
                        {% pagination cl %}
                    </div>
                {% endblock %}

            </div>
        </div>
        <!-- DATE HIERARCHY -->
        {% block date_hierarchy %}
            {% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}
        {% endblock %}
    </div>
    <form id="grp-changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
        <section id="grp-changelist" class="{% if cl.list_editable %} grp-editable{% endif %}">
            <header style="display:none"><h1>Results</h1></header>
            <!-- POPUP -->
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
            <!-- ERRORS -->
            {% if cl.formset.errors %}
                <p class="errornote">
                    {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
                {{ cl.formset.non_form_errors }}
            {% endif %}
            <!-- MANAGEMENT FORM -->
            {% if cl.formset %}
                {{ cl.formset.management_form }}
            {% endif %}
            <!-- CHANGELIST-RESULTS -->
            {% block result_list %}
                {% result_list cl %}
            {% endblock %}
        </section>
        <!-- PAGINATION BOTTOM -->
        {% if not cl.result_count == 0 %}
            {% block pagination_bottom %}
                <div class="grp-module pagination pagination-bottom">
                    <div class="grp-row">{% pagination cl %}</div>
                </div>
            {% endblock %}
        {% endif %}
        <!-- SUBMIT ROW -->
        {% if cl.formset or action_form %}
            <footer id="submit" class="grp-module grp-submit-row grp-fixed-footer">
                <header style="display:none"><h1>Submit Options</h1></header>
                <ul>
                    {% if action_form %}<li class="grp-float-left grp-changelist-actions">{% admin_actions %}</li>{% endif %}
                    {% if cl.formset %}<li><input type="submit" class="grp-button grp-default" name="_save" value="{% trans "Save" %}"/></li>{% endif %}
                </ul>
            </footer>
        {% endif %}
    </form>
{% endblock %}
